/*!
*	bubble sheet - Ruini Shi
*/
.container {

	.student-name {
		&:nth-child(even) {
			background-color: #eee;
		}
		&.new-name  {
			position: relative;
			#student_name {
				width: 100%;
			}
			.submit-name {
				position: absolute;
				right: -6.5em;
				top: 2em;
			}
			
		}
		padding: 2em 0;
		font-size: 1em;
		text-transform: uppercase;
		border-bottom: 1px solid #eee;
		text-indent: 1em;
	}



	.project-name {
		text-align: center;
		margin-bottom: 1em;
	}

	.week-item {
		transform: rotate(-40deg);
		-webkit-transform: rotate(-40deg);
	}
	.bubble-table {
		font-size: 1em;
		.bubble-row {
			padding: 2em 0;
			border-bottom: 1px solid #eee;
			&:nth-child(even) {
				background-color: #eee;
			}

			.bubble-item {
				cursor: pointer;
			}
		}
	}
}